<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shapevector</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('/assets/vendor/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/assets/build/css/style.css') }}">
</head>
<body>
    {% include('includes/_alerts.html.twig') %}
    {% block body %}{% endblock %}
    <script src="{{ asset('/assets/vendor/js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('/assets/vendor/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('/assets/vendor/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        var app = {
            user: {
                username: '{{ app.user.getUsername() }}',
                shopifyShopName: '{{ app.user.getShopifyShopName() }}',
                shopifyToken: {{ app.user.shopifyToken ? 'true' : 'false' }},
                shapewaysTokenSecret: {{ app.user.shapewaysTokenSecret ? 'true' : 'false' }},
                etsyTokenSecret: {{ app.user.etsyTokenSecret ? 'true' : 'false' }},
            }
        }
    </script>
    {% block javascript %}{% endblock %}
    <script src="{{ asset('/assets/build/js/main.js') }}"></script>
</body>
</html>