{% extends 'base.html.twig' %}

{% block title %}Config{% endblock %}

{% block body %}
	<nav class="navbar navbar-default">
      <div class="container">
          <div class="navbar-header">
              <a href="/" class="navbar-brand">ShapeVector</a>
          </div>
          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="{{ path('loadOrders') }}">Load new Orders</a></li>
                  <li><a href="/settings">Settings</a></li>
                  <li><a href="{{ path('config') }}">Configuration</a></li>
                  <li><a href="/updateTrackingInfo">Update Tracking</a></li>
              </ul>
              <ul class="nav navbar-nav nav-right pull-right">
                  <li><a href="/logout">Logout {{ app.user.getUsername() }}</a></li>
              </ul>
          </div>
      </div>
  </nav>
	<div class="container">
		<div class="row ">
			<div class="col-xs-12">
				{# <p>Etsy connection status: 
				{% if app.user.etsyTokenSecret %}
					Connected.
				{% else %}
					Not Connected.
					<a href="{{ path('etsy_connect') }}">Connect</a>
				{% endif %}
				</p> #}
				
				<p>Shopify connection status: 
				{% if app.user.shopifyToken %}
					Connected.
					<a href="{{ path('shopify_connect') }}">Reconnect</a>
				{% else %}
					Not Connected.
					<a href="{{ path('shopify_connect') }}">Connect</a>
				{% endif %}
				</p>

				<p>Shapeways connection status: 
				{% if app.user.shapewaysTokenSecret %}
					Connected.
					<a href="{{ path('shapeways_connect') }}">Reconnect</a>
				{% else %}
					Not Connected.
					<a href="{{ path('shapeways_connect') }}">Connect</a>
				{% endif %}
				</p>
				<form action="{{ path('update_config') }}" method="POST">
					<div class="form-group">
						<label for="shopify_shop_name">Shopify shop name</label>
						<input id="shopify_shop_name" name="shopify_shop_name" type="text" class="form-control" value="{{ app.user.getShopifyShopName() }}">
					</div>
					<input type="submit" value="Update Configuration">
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
{% endblock %}