{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
	<div id="root"></div>
	{# include 'includes/orders/_pagination.html.twig' #}
	{#<div class="row">
		<div class="col-xs-2">
			{% include 'includes/orders/_tags.html.twig' %}
		</div>#}
{# include 'includes/orders/_pagination.html.twig' #}
{% endblock %}
{% block javascript %}
	{% if false and processing_orders %}
			<script type="text/javascript">
				var processing_orders = true;
			</script>
	{% endif %}
	<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script type="text/javascript" src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
  {% if app.environment == 'dev' %}
  	<script type="text/javascript" src="{{ asset('assets/build/js/bundle.js') }}"></script>
	{% else %}
	  <script type="text/javascript" src="{{ asset('assets/build/js/common.js') }}"></script>
	  <script type="text/javascript" src="{{ asset('assets/build/js/bundle.min.js') }}"></script>
	{% endif %}
{% endblock %}