<div class="alert-container">
	{% for flash_message in app.session.flashBag.get('notice') %}
	    <div class="alert alert-info">
	        {{ flash_message }}
	    </div>
	{% endfor %}
	{% for flash_message in app.session.flashBag.get('error') %}
	    <div class="alert alert-danger">
	        {{ flash_message }}
	    </div>
	{% endfor %}
</div>