<div class="row">
	<form action="" class="col-xs-12 form-inline" method="GET">
		<div class="form-group">
	    	<label for="min_date">Date from</label>
	    	<input id="min_date" class="form-control" type="date" name="min_date" format="yyy-mm-dd" value="{% if GET['min_date'] is defined %}{{ GET['min_date'] }}{% endif %}">
	  	</div>
		<div class="form-group">
	    	<label for="max_date">Date to</label>
			<input id="max_date" class="form-control" type="date" name="max_date" format="yyy-mm-dd" value="{% if GET['max_date'] is defined %}{{ GET['max_date'] }}{% endif %}">
	  	</div>
		<div class="form-group">
			<label for="limit">Orders per page</label>
			<select name="limit" id="limit" class="form-control">
				<option {% if GET['limit'] is defined and GET['limit'] == '10' %}selected{% endif %} value="10">10</option>		
				<option {% if GET['limit'] is not defined or (GET['limit'] is defined and GET['limit'] == '25') %}selected{% endif %} value="25">25</option>		
				<option {% if GET['limit'] is defined and GET['limit'] == '50' %}selected{% endif %} value="50">50</option>		
				<option {% if GET['limit'] is defined and GET['limit'] == '100' %}selected{% endif %} value="100">100</option>		
			</select>
		</div>
		<div class="form-group">
			<label for="search">Customer Username or Order ID</label>
			<input type="text" class="form-control" name="search" id="search" value="{% if GET['search'] is defined %}{{ GET['search'] }}{% endif %}">
		</div>
		<!--<div class="form-group">
			<label for="search">Tag names</label>
			<input type="text" class="form-control" name="tags" id="tags" value="<?php if(isset($_GET['tags'])) echo $_GET['tags'] ?>">
		</div>-->
	  	<?php $unshipped = !(isset($_GET['filter']) && $_GET['filter'] === 'all'); ?>
		<!--<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary <?php if($unshipped) echo 'active'; ?>">
				<input type="radio" name="filter" value="unshipped" <?php if($unshipped) echo 'checked'; ?>> Unshipped
			</label>
			<label class="btn btn-primary <?php if(!$unshipped) echo 'active'; ?>">
				<input type="radio" name="filter" value="all" <?php if(!$unshipped) echo 'checked'; ?>> All
			</label>
		</div>-->
	  	<input class="btn btn-default" type="submit" value="Filter results">
	  	<input class="btn btn-default" type="submit" id="clear" value="Clear Filters">
	  	<button class="btn get-csv btn-default">Download CSV</button>
	</form>
</div>