<nav>
    <ul class="pagination">
        <li {% if pagination.page.current == 1 %}class="disabled"{% endif %}>
            <a href="{{ path('orders') }}" aria-label="First">
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <li {% if pagination.page.current == 1 %}class="disabled"{% endif %}>
            <a href="{{ path('orders', {'page': pagination.page.current - 1}) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for i in pagination.page.first..pagination.page.last %}
            <li {% if i == pagination.page.current %}class="active"{% endif %}><a href="{{ path('orders', {'page': i}) }}">{{ i }}</a></li>
        {% endfor %}
        <li {% if pagination.page.current == pagination.page.total %}class="disabled"{% endif %}>
            <a href="{{ path('orders', {'page': pagination.page.current + 1}) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    <span>Showing results {{ pagination.results.first }}-{{ pagination.results.last }} of {{ pagination.results.total }}</span>
</nav>