<ul class="list-unstyled tags-list">
    {% for tag in tags %} 
        {# $url = '/orders?tags=' . str_replace(' ', '_', $tag['tag_name']); #}
        <li><a href="{{ path('orders')}}" class="label label-primary">{{ tag.name }}</a></li>
    {% endfor %}
</ul>
